<%= render "shared/header" %>

<div class="container">
  <%= form_with method: :patch, scope: @camp_site, url: camp_site_edit_url(@camp_site.id), local: false do |form| %>
    <div class="form-group">
      <%= form.label :name, 'Название'%><br>
      <%= form.text_field :name, class: "form-control" %>
      <small class="form-text text-muted">От 3 до 35 символов</small>
    </div>

    <div class="form-group">
      <%= form.label :city_id, 'Город' %><br>
      <%= form.select(:city_id, options_for_select(@cities.map {|city| ["#{city.name} (#{city.region.country.name}, #{city.region.name})", city.id]}), {}, {class: "form-control"}) %>
    </div>

    <div class="form-group">
      <%= form.label :description, 'Описание' %><br>
      <%= form.text_area :description, class: "form-control" %>
      <small class="form-text text-muted">До 200 символов</small>
    </div>

    <div class="form-group">
      <%= form.label :distance, 'Км от города' %><br>
      <%= form.number_field :distance, class: "form-control" %>
      <small class="form-text text-muted">Целое число не меньше нуля</small>
    </div>

    <div class="form-group">
      <%= form.label :price, 'Стоимость проживания' %><br>
      <%= form.number_field :price, class: "form-control" %>
      <small class="form-text text-muted">Число не меньше нуля</small>
    </div>

    <%= form.submit 'Обновить', class: "btn btn-primary"%>
  <% end %>
</div>