<%= render "shared/header" %>

<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-4">
      <h1 class="display-4">Турбазы</h1>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-3">
      <a href="<%= camp_sites_new_url %>" class="btn btn-success" role="button">Добавить</a>
    </div>
  </div>

  <table class="table table-borderless text-center">
    <tr>
      <th></th>
      <th>Название</th>
      <th>Местоположение</th>
      <th>Стоимость</th>
      <th></th>
    </tr>

    <% @camp_sites.each do |camp_site| %>
      <tr>
        <td class="align-middle"><a href="<%= camp_site_edit_url(camp_site.id) %>" class="btn btn-light" role="button"><i class="fa fa-pencil" /></a></td>
        <td class="align-middle"><%= link_to camp_site.name, camp_site_url(camp_site.id) %></td>
        <td class="align-middle"><%= link_to camp_site.city.name, city_url(camp_site.city.id) %>, <%= link_to camp_site.city.region.name, region_url(camp_site.city.region.id) %>, <%= link_to camp_site.city.region.country.name, country_url(camp_site.city.region.country.id) %></td>
        <td class="align-middle"><% if camp_site.price %> От <%= camp_site.price %> <%= camp_site.city.region.country.currency %> <% end %></td>
        <td class="align-middle"><a data-method="delete" href="<%= camp_site_delete_url(camp_site.id) %>" class="btn btn-danger" role="button"><i class="fa fa-trash" /></a></td>
      </tr>
    <% end %>
  </table>
</div>