<%= render "shared/header" %>

<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-4">
      <h1 class="display-4">Турбазы</h1>
    </div>
  </div>
</div>


<div class="container">
  <% @camp_sites.each do |camp_site_row| %>
  <div class="card-deck mb-3">
    <% camp_site_row.each do |camp_site| %>
      <div class="card text-center">
        <h5 class="card-header"><%= camp_site.name %></h5>
        <img class="card-img-top" src="<%= asset_path 'placeholder.jpg' %>">
        <div class="card-body">
          <p class="card-text"><%= camp_site.description %></p>
          <% if camp_site.price %>
            <a class="card-link text-success" href="<%= camp_site_url camp_site.id %>">От <%= camp_site.price %> <%=camp_site.city.region.country.currency %></a>
          <% else %>
            <a class="card-link text-success" href="<%= camp_site_url camp_site.id %>">Подробнее</a>
          <% end %>
        </div>
        <div class="card-footer">
          <%= camp_site.city.name %>, <%= camp_site.city.region.name %>, <%= camp_site.city.region.country.name %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>