<%= render "shared/header" %>

<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-4">
      <h1 class="display-4">Страны</h1>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-3">
      <a href="<%= countries_new_url %>" class="btn btn-success" role="button">Добавить</a>
    </div>
  </div>


  <table class="table table-borderless text-center">
    <tr>
      <th></th>
      <th>Название</th>
      <th>Валюта</th>
      <th></th>
    </tr>

    <% @countries.each do |country| %>
      <tr>
        <td class="align-middle"><a href="<%= country_edit_url(country.id) %>" class="btn btn-warning" role="button">✏</a></td>
        <td class="align-middle"><%= link_to country.name, country_url(country.id) %></td>
        <td class="align-middle"><%= country.currency %></td>
        <td class="align-middle"><a data-method="delete" href="<%= country_delete_url(country.id) %>" class="btn btn-danger" role="button">❌ </a></td>
      </tr>
    <% end %>
  </table>
</div>