<%= render "shared/header" %>

<%= form_with method: :patch, scope: @city, url: city_edit_url(@city.id), local: true do |form| %>
  <p>
    <%= form.label :name, 'Название' %><br>
    <%= form.text_field :name%>
  </p>

  <p>
    <%= form.label :country_id, 'Регион' %><br>
    <%= form.select(:country_id, options_for_select(@regions.map {|region| ["#{region.name} (#{region.country.name})", region.id]})) %>
  </p>

  <p>
    <%= form.submit 'Обновить' %>
  </p>
<% end %>