<%= render "shared/header" %>

<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-4">
      <h1 class="display-4">Регионы</h1>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-3">
      <a href="<%= new_region_url %>" class="btn btn-success" role="button">Добавить</a>
    </div>
  </div>

  <table class="table table-borderless text-center">
    <tr>
      <th></th>
      <th>Название</th>
      <th>Страна</th>
      <th></th>
    </tr>

    <% @regions.each do |region| %>
      <tr>
        <td><a href="<%= edit_region_url(region.id) %>" class="btn btn-warning" role="button"><i class="fa fa-pencil" /></a></td>
        <td><%= link_to region.name, region_url(region.id) %></td>
        <td><%= link_to region.country.name, country_url(region.country.id) %></td>
        <td><a data-method="delete" href="<%= region_url(region.id) %>" class="btn btn-danger" role="button" data-confirm="Данное действие невозможно отменить. Продолжить?"><i class="fa fa-trash" /></a></td>
      </tr>
    <% end %>
  </table>
</div>